body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

label {
    font-size: 20px;
    color: darkcyan;
    width: 150px;
    display: inline-block;
}


li {
    list-style-type: none;
}

h1 {
    color: red;
}

textarea {
    font-size: 20px;
}