@{

}
<h2>
    Grade Calculator
</h2>
<form>
    <h3>Category</h3>
    <label>Assignments (55%): </label>
    <input id="hwGrade" /><br />
    <label>Group Project (5%): </label>
    <input id="gpGrade" /><br />
    <label>Quizzes (10%): </label>
    <input id="qGrade" /><br />
    <label>Exams (20%): </label>
    <input id="testGrade" /><br />
    <label>INTEX (10%): </label>
    <input id="intexGrade" /><br />
    <br />
    <input id="btnSend" type="button" value="Send Grade" />
    <br /><br /><br /><br /><br />
</form>
<script src="js/icon.js"></script>


