@{
    ViewData["Title"] = "Home Page";
}


<h1>Let's get to know about Yejin Choi</h1>
<br />
<img id="picyejin" src="~/img/yejinhobby.jpeg" />
<p>I enjoy going to the beaches and watching the sunset</p>
<br />
<p> Goal in IS413: My goal is to create a dynamic and creative website!</p>
<br />

<p>Top #3 jobs you are most interested in pursuing when I graduate</p>
<ul>
    <li>1. Cloud Engineer</li>
    <li>2. IT Audit</li>
    <li>3. Risk Management</li>
</ul>

